<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.foi.air.varazdIninfo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:icon="@drawable/glavna"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name=".MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity 
            android:name=".SettingsActivity" 
            android:label="@string/menu_settings" >
        </activity>
    	<uses-library android:name="com.google.android.maps" />
    </application>

</manifest>